ACTION=="add", SUBSYSTEM=="block", KERNEL!="loop*", RUN+="/usr/local/sbin/blockdev --setro /dev/%k"
ACTION!="remove", SUBSYSTEM=="block", KERNEL!="loop*", RUN+="/usr/local/sbin/blockdev --setro /dev/%k"
ACTION=="change", SUBSYSTEM=="block", KERNEL!="loop*", ENV{DISK_RO}=="0", RUN+="/usr/local/sbin/blockdev --setro /dev/$name"
